.container {
  max-width: 1600px;
  margin: 0 auto;
  /* padding: 0 0.1rem; */
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  
 
  
  .card {
    flex: 1 1 calc(25% - 1.5rem);
    max-width: calc(25% - 1.5rem);
  
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    overflow: hidden;
  
    display: flex;
    flex-direction: column;
  }

  .card:hover {
    opacity: 1;
  }
  
  @media (max-width: 1024px) {
    .card {
      flex-basis: calc(33.333% - 1.5rem);
      max-width: calc(33.333% - 1.5rem);
    }
  }
  
  @media (max-width: 640px) {
    .card {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
  
  
  .image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
  }
  
  .info {
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
  }
  
  .name {
    font-size: 1.05rem;
    font-weight: 600;
    margin: 0;
  }
  
  .meta {
    font-size: 0.85rem;
    font-style:oblique;
    color: #666;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }
  
 
  
  .status {
    align-self: flex-start;
    padding: 0.2rem 0.6rem;
    border-radius: 999px;
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  /* Status colors */
  .alive {
    background: #e6f4ea;
    color: #1e7f43;
  }

  .dead {
    background: hwb(0 93% 0%);
    color: red;
  }

  .unknown {
    background: #f0f0f0;
    color: #999;
  }
  