.stateWrapper {
    min-height: 100vh;
    width: 100%;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-size: 1.2rem;
    text-align: center;
  }
  
  .stateWrapper.loading {
    color: #666;
  }
  
  .stateWrapper.error {
    color: #c0392b;
  }